body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #333;
  padding: 10px;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  cursor: pointer;
  font-weight: bold;
}

.content {
  display: none;
  margin-top: 20px;
}

.content.active {
  display: block;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-container img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.photo-gallery img {
  width: 450px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
}

h2 {
  font-size: 28px;
  color: #333;
}

/* Tooltip Styles */
.photo-gallery div {
  position: relative;
  margin: 10px;
}

.photo-gallery img {
  display: block;
}

.photo-gallery div:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1;
}
